body {
    background-color: pink;
}

h1 {
    text-align: center;
    padding: 10px;
}

th {
    text-align: center;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}

form {
    text-align: center;
    padding: 10px;
}
